In [2]:
%pip install plotly

import pandas as pd
import numpy as np
import plotly.express as px
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns

Collecting plotly
  Downloading plotly-6.0.0-py3-none-any.whl.metadata (5.6 kB)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-1.28.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: packaging in /Users/raneem/Library/Python/3.11/lib/python/site-packages (from plotly) (24.0)
Downloading plotly-6.0.0-py3-none-any.whl (14.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.8/14.8 MB 27.0 MB/s eta 0:00:00a 0:00:01
Downloading narwhals-1.28.0-py3-none-any.whl (308 kB)
Installing collected packages: narwhals, plotly
Successfully installed narwhals-1.28.0 plotly-6.0.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
supermarket = pd.read_csv('/Users/raneem/Downloads/supermarket_pred/sales.csv')

/var/folders/ts/c0z20d1s1rq1pd4h0py597pw0000gn/T/ipykernel_11848/4060225151.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  supermarket = pd.read_csv('/Users/raneem/Downloads/supermarket_pred/sales.csv')

 ## 1 - Explore The Dataset

In [7]:
supermarket.head()

,Unnamed: 0,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
0,260670,166,2,2013-01-01,0,0,0,a,1,0
1,366950,278,2,2013-01-01,0,0,0,a,1,0
2,179596,519,2,2013-01-01,0,0,0,a,1,0
3,216955,234,2,2013-01-01,0,0,0,a,1,0
4,201196,270,2,2013-01-01,0,0,0,a,1,0

In [9]:
supermarket.dtypes

Unnamed: 0              int64
store_ID                int64
day_of_week             int64
date                   object
nb_customers_on_day     int64
open                    int64
promotion               int64
state_holiday          object
school_holiday          int64
sales                   int64
dtype: object

In [10]:
supermarket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592561 entries, 0 to 592560
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           592561 non-null  int64
 1   store_ID             592561 non-null  int64
 2   day_of_week          592561 non-null  int64
 3   date                 592561 non-null  object
 4   nb_customers_on_day  592561 non-null  int64
 5   open                 592561 non-null  int64
 6   promotion            592561 non-null  int64
 7   state_holiday        592561 non-null  object
 8   school_holiday       592561 non-null  int64
 9   sales                592561 non-null  int64
dtypes: int64(8), object(2)
memory usage: 45.2+ MB

In [11]:
supermarket.shape

(592561, 10)

In [12]:
supermarket.describe()

,Unnamed: 0,store_ID,day_of_week,nb_customers_on_day,open,promotion,school_holiday,sales
count,592561.000000,592561.000000,592561.000000,592561.000000,592561.000000,592561.000000,592561.000000,592561.000000
mean,356039.480762,558.463546,4.002315,634.848002,0.831509,0.379419,0.181418,5744.577431
std,205596.545847,321.957991,1.995855,465.330476,0.374302,0.485243,0.385364,3832.896126
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,177871.000000,280.000000,2.000000,404.000000,1.000000,0.000000,0.000000,3703.000000
50%,356159.000000,558.000000,4.000000,609.000000,1.000000,0.000000,0.000000,5702.000000
75%,534138.000000,837.000000,6.000000,839.000000,1.000000,1.000000,0.000000,7808.000000
max,712044.000000,1115.000000,7.000000,5494.000000,1.000000,1.000000,1.000000,38037.000000

In [13]:
numerical = supermarket._get_numeric_data()

categorical = [i for i in supermarket if i not in numerical]

#for num in numerical:
print("Numerical:", list(supermarket._get_numeric_data().keys()))
print("\n")
#for col in categorical:
print("Categorical:", categorical)

Numerical: ['Unnamed: 0', 'store_ID', 'day_of_week', 'nb_customers_on_day', 'open', 'promotion', 'school_holiday', 'sales']


Categorical: ['date', 'state_holiday']

In [15]:
# Transform 'state_holiday' column from categorical to ordinal values
state_holiday_mapping = {'0': 0, 'a': 1, 'b': 2, 'c': 3}
supermarket['state_holiday'] = supermarket['state_holiday'].map(state_holiday_mapping)

In [16]:
# Convert 'date' column to datetime type
supermarket['date'] = pd.to_datetime(supermarket['date'])

# Verify the conversion
print(supermarket.dtypes)

Unnamed: 0                      int64
store_ID                        int64
day_of_week                     int64
date                   datetime64[ns]
nb_customers_on_day             int64
open                            int64
promotion                       int64
state_holiday                 float64
school_holiday                  int64
sales                           int64
dtype: object